.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color:#333
}

img,button,input {
  display: block;
}

.img {
  max-width: 100%;
}


button, input {
  font-size: 1rem;
  color:#333;
}

ul li {
  list-style: none;
}

.container {
  max-width: 800px;
  padding: 0 1em;
}

a {
  text-decoration: none;
  color:#333
}
main {
  margin-top: 150px;
}
.title {
  font-size: 3rem;
  line-height: 1;
  margin: 1em 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: "";
  display: block;
  width: .5em;
  height: .5em;
  background-color: #fb1;
  position: absolute;
  bottom: -3px;
  left: -3px;
  border-radius: 15%;
  z-index: -1;
}
.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
