.wrapper {
    margin-bottom: 1em;

}

.input {
    border: 1px solid white;
    display: block;
    width: 50%;
    max-width: 400px;
    font-size: 1rem;
    padding: .8em;
    border-radius: .4em;
    background-color: #eee;
    transition: .1s;
}

.input:focus ,.input:hover {
    outline: none;
    border: #fb1;
    background-color: white;
    box-shadow: 0 0 0 3px #fea;
}

.label {
    display: block;
    line-height: 1;
    padding-bottom: .5em;
    line-height: 1;
}

.error {
    color: #f31;
    font-size: .8rem;
    margin-top: 0.3em;
}